<% provide(:title, @site.position) %>
<div class="row">
<aside class="col-md-4">
<section class="user_info">
<h1>
<%= @site.position %>
</h1>
</section>
<section>
  <div id="baidu"></div>
  </section>
</aside>

<div class="col-md-8">
<h3>该站共经过<%= @bus_numbers.length %> 辆</h3>
<% @bus_numbers.each do |bus_number| %> 
<h4>
<%= bus_number.name %> 上座率 <%= bus_number.in_rate %>	
</h4>
<% end %> 
<section>
<%= render 'takes'    %>
</section>
<div id="device-middle"></div>
<section>
<%= render 'reservations'    %>
</section>
</div>
</div>
<script>
$(document).ready(function(){
  var map = new BMap.Map("baidu");
  var point = new BMap.Point(<%= @site.longitude %>, <%= @site.latitude %>);
  map.centerAndZoom(point, 15);
var marker = new BMap.Marker(point);
map.addOverlay(marker); 
  })
</script>
