<!DOCTYPE html>
<html>
<head>
  <title>SampleApp | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nDEigMY5QY9ZfEQDzWZU6eBm" ></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div id="wrapper">
<%= yield %>
</div>
      <%= render 'layouts/footer' %>
    </div>


</body>
</html>
